/*
 * lay-out
 */

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
}

.wrapper--fullheight {
  height: 100%;
}

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  background: #fff;
  z-index: 100;
  transform: translateY(0);
  transition: all 400ms ease-in-out;
  will-change: transform;
}

.footer {
  width: 100%;
  display: inline-block;
  margin: 50px 0;
}

.showcase-item {
  flex: 1;
  border: 25px solid transparent;
  background-clip: padding-box;
}

.showcase-container {
  display: flex;
  margin: -25px;
}

.square, .beam {
  &:before {
    content: '';
    float: left;
    padding-top: 100%;
  }
}

.beam {
  border-width: 0 0 25px 0;
  &:last-child {
    border-width: 25px 0 0 0;
  }
  &:before {
    padding-top: 50%;
  }
}

.showcase__column {
  display: flex;
  flex-direction: column;
}

.showcase__row {
  flex-direction: row;
}

.splash {
  width: 100%;
  margin: 0 auto;
  &:before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}

.index__tile-1 {
  background: url("../img/index__tile-1.png") no-repeat;
  @include image_2x("../img/index__tile-1@2x.png", 100%, 100%);
  background-size: cover;
}

.index__tile-2 {
  background: url("../img/index__tile-2.png") no-repeat;
  @include image_2x("../img/index__tile-2@2x.png", 100%, 100%);
  background-size: cover;
}

.index__tile-3 {
  background: url("../img/index__tile-3.png") no-repeat;
  @include image_2x("../img/index__tile-3@2x.png", 100%, 100%);
  background-size: cover;
}

.index__tile-4 {
  background: url("../img/index__tile-4.png") no-repeat;
  @include image_2x("../img/index__tile-4@2x.png", 100%, 100%);
  background-size: cover;
}

.accomodation__tile-1 {
  background: url("../img/accomodation__tile-1.jpg") no-repeat;
  @include image_2x("../img/accomodation__tile-1@2x.jpg", 100%, 100%);
  background-size: cover;
}

.accomodation__tile-2 {
  background: url("../img/accomodation__tile-2.jpg") no-repeat;
  @include image_2x("../img/accomodation__tile-2@2x.jpg", 100%, 100%);
  background-size: cover;
}

.accomodation__tile-3 {
  background: url("../img/accomodation__tile-3.jpg") no-repeat;
  @include image_2x("../img/accomodation__tile-3@2x.jpg", 100%, 100%);
  background-size: cover;
}

.accomodation__tile-4 {
  background: url("../img/accomodation__tile-4.jpg") no-repeat;
  @include image_2x("../img/accomodation__tile-4@2x.jpg", 100%, 100%);
  background-size: cover;
}

.index__splash-1 {
  background: url("../img/index__splash-1.jpg") no-repeat;
  @include image_2x("../img/index__splash-1@2x.jpg", 100%, 100%);
  background-size: cover;
}

.index__splash-2 {
  width: 90%;
  background: url("../img/index__splash-2.png") no-repeat;
  @include image_2x("../img/index__splash-2@2x.png", 100%, 100%);
  background-size: cover;
  &:before {
    padding-top: 60%;
  }
}

.panel1 {
  background: url("../img/index__panel-1--bw.jpg") no-repeat;
  @include image_2x("../img/index__panel-1--bw@2x.jpg", 100%, 100%);
}

.panel2 {
  background: url("../img/index__panel-2--bw.jpg") no-repeat;
  @include image_2x("../img/index__panel-2--bw@2x.jpg", 100%, 100%);
}

.panel3 {
  background: url("../img/index__panel-3--bw.jpg") no-repeat;
  @include image_2x("../img/index__panel-3--bw@2x.jpg", 100%, 100%);
}

.panel4 {
  background: url("../img/index__panel-4--bw.jpg") no-repeat;
  @include image_2x("../img/index__panel-4--bw@2x.jpg", 100%, 100%);
}

.head__visual {
  background: url("../img/head-1.jpg") no-repeat;
  @include image_2x("../img/head-1@2x.jpg", 100%, 100%);
}

/*
 * components
 */

.header__logo {
  float: left;
  &__illustration, &__text {
    display: inline-block;
    vertical-align: top;
  }
  &__illustration {
    width: 34px;
    margin-top: 9px;
  }
  &__text {
    width: 200px;
    margin-top: 20px;
    &__title, &__subtitle {
      text-align: center;
      display: block;
    }
    &__title {
      font-family: 'Cinzel Decorative', cursive;
      font-size: 24px;
      letter-spacing: normal;
    }
    &__subtitle {
      margin-top: 2px;
      font-family: 'Karla', sans-serif;
      font-weight: bold;
      font-size: 9px;
      text-transform: uppercase;
    }
  }
}

.nav, .social-anchors {
  float: right;
  .list__item {
    margin: 30px 24px 0 0;
    display: inline-block;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
  }
}

.nav {
  .button {
    font-size: 14px;
    padding: 17px 49px;
  }
}

.footer__nav {
  float: left;
}

.social-anchors {
  float:none;
  text-align: center;
  .list__item {
    margin: 17px 24px 0 0;
  }
}

.social-anchor {
  &__facebook {
    color: $blue;
  }
  &__instagram {
    color: $red;
  }
}

.head__overlay, .head__visual, .section__overlay, .section__visual {
  position: absolute;
  height: 100%;
  width: 100%;
}

.head__visual, .section__visual {
  background-size: cover;
  z-index: 77;
}

.head__overlay, .section__overlay {
  z-index: 78;
  background: rgba(255, 255, 255, 0.8);
}

.head__content, .section__content {
  position: relative;
  z-index: 79;
}

.head {
  height: 100%;
  width: 100%;
  &__content {
    @include translateXY();
    text-align: center;
  }
  .title-1, .title-2 {
    color: $blue;
    margin-bottom: 15px;
  }
  .title-2 {
    margin-bottom: 30px;
  }
  &__intro {
    font-size: 20px;
    max-width: 550px;
    margin: 0 auto 45px;
  }
}

.section__form {

}

.section {
  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  &__intro {
    font-size: 48px;
    margin-bottom: 90px;
  }
  &__content {
    overflow: hidden;
  }
  &__showcase {
    padding: 70px 0 160px ;
  }
  &__family-business, &__charming-rooms {
    padding: 200px 0 150px;
    .text-block__title {
      color: $red;
    }
  }
  &__riding-structures {
    padding: 50px 0 160px ;
    .text-block__title {
      color: $blue;
    }
  }
  &__pricing {
    &__bottom {
      width: 100%;
      text-align: center;
    }
    .button {
      margin: 45px auto 0;
    }
  }
}

.section--spacious {
  padding: 200px 0 340px;
}

.section--dark {
  color: #fff;
  background: #000;
  .text-block__title {
    color: #fff;
  }
}

.section--red {
  color: #000;
  background: $red;
  .text-block__title {
    color: #000;
  }
}

.text-block {
  &__body {
    font-size: 20px;
  }
}

.text-block--horizontal {
  width: 50%;
  display: inline-block;
  margin-right: -4px;
  vertical-align: bottom;
  padding: 0 25px 0 0;
  &:last-child {
    padding: 0 0 0 25px;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.text-block--centered {
  text-align: center;
  .text-block__body {
    text-align: justify;
    max-width: 550px;
    margin: 50px auto 0;
    &+.text-block__body {
      margin: 25px auto 0;
    }
    &+.button {
      margin: 90px auto 0;
    }
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.panels {
  min-height: 100%;
  overflow: hidden;
  display: flex;
}

.panel {
  position: relative;
  color: white;
  text-align: center;
  align-items: center;
  transition:
    font-size 0.4s ease-in-out,
    flex 0.4s ease-in-out,
    background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 90%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.59) 90%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.59) 90%,rgba(0,0,0,0.65) 100%);
    z-index: 69;
  }
  &__title {
    z-index: 70;
  }
  & > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  &:hover {
    flex: 2;
  }
}

.table--highlight {
  .table__title, .table__subtitle, .price__amount {
    color: $red;
  }
  .table__title {
    position: relative;
    &:after {
      content: "";
      @include translateX();
      width: 90%;
      border-bottom: 5px solid $red;
      bottom: -34px;
    }
  }
}

.table {
  &__title, &__subtitle, &__footnote {
    text-align: center;
  }
  &__asterisk {
    font-size: 30px;
    color: #fff;
  }
  &__footnote {
    font-size: 11px;
    margin: 40px auto 0;
    display: block;
    .table__asterisk {
      font-size: 24px;
    }
  }
  &__divider {
    width: 100%;
    margin: 20px 0 60px;
    border-bottom: 1px solid #fff;
  }
}

.price {
  &__title, &__amount {
    line-height: 40px;
  }
  &__amount {
    float: right;
  }
}

/*
 * styling
 */

.button {
  background-color: $blue;
  color: #fff;
  font-size: 17px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  padding: 20px 55px;
  display: inline-block;
}
