/*
 * lay-out
 */

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 70px;
}

/*
 * components
 */

.header__logo {
  float: left;
  &__illustration, &__text {
    display: inline-block;
    vertical-align: top;
  }
  &__illustration {
    width: 34px;
    margin-top: 9px;
  }
  &__text {
    width: 200px;
    margin-top: 20px;
    &__title, &__subtitle {
      text-align: center;
      display: block;
    }
    &__title {
      font-family: 'Cinzel Decorative', cursive;
      font-size: 24px;
    }
    &__subtitle {
      margin-top: 2px;
      font-family: 'Karla', sans-serif;
      font-weight: bold;
      font-size: 9px;
    }
  }
}

.header__nav {
  float: right;
  .list__item {
    margin: 30px 24px 0 0;
    display: inline-block;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
  }
}

/*
 * styling
 */
