// =============================================
// Colors
// =============================================

$blue: #053d7c;
$blue--light: #48cded;
$red: #ad2e2a;

// =============================================
// Typography
// =============================================
